{{> header }}

<div class="container-fluid content" align = "center">
	<h1>SELECTED WORKS</h1>

	{{#each artworks}}

	<div class= "galleryimg">
		
		<img src="{{this.imageURL}}" class="img-responsive" alt="{{this.title}}. {{this.medium}}. {{this.year}}">
		
		<div class="caption">
			<p>{{#if this.title}} {{this.title}}. {{/if}}
				{{#if this.medium}} {{this.medium}}. {{/if}}
				{{#if this.dimensions}} {{this.dimensions}}.  {{/if}}
					{{!-- only show notes (for installation nots or photo credit) if available. --}}
					{{#if this.notes}} {{this.notes}}.{{/if}}
				{{this.year}}.
			</p>
		</div>

	</div>

	{{/each}}

</div> <!-- /.content -->

{{>footer}}