<div class="container-fluid content" align = "center">
	<h1>SELECTED WORKS</h1>

	{{#each artworks}}

	<div class= "galleryimg">
		
		<img src="{{this.imageURL}}" class="img-responsive" alt="{{this.title}}. {{this.medium}}. {{this.year}}">
		
		<div class="caption">
			<p>{{this.title}}. {{this.medium}}. {{this.dimensions}}. 
					{{!-- only show notes (for installation nots or photo credit) if available. --}}
					{{#if this.notes}}
						{{this.notes}}.
					{{else}}

					{{/if}}
				{{this.year}}.
			</p>
		</div>

	</div>

	{{/each}}

	{{>long-footer}}

</div> <!-- /.content -->