{{> header }}

<div class="container-fluid content" align= "center">
	<h1>Selected Works: {{year}}</h1>

	{{#each artworks}}
	<div class="row">
		<div class= "galleryimg">
			<div class="col-md-4 order-sm-12 caption">
				{{#if this.title}}<h2 class="h4"><b> {{this.title}}</b></h2>{{/if}}
				<p>
					{{#if this.medium}} {{this.medium}}. {{/if}}
					{{#if this.dimensions}} {{this.dimensions}}. {{/if}}
					{{#if this.notes}} {{this.notes}}.{{/if}}
					{{this.year}}.
				</p>
			</div>
			
			<div class="col-md-8 order-sm-1"><img src="{{this.imageURL}}" class="img-responsive" alt="{{this.title}}. {{this.medium}}. {{this.year}}"></div>
			
		</div>
	</div>

	{{/each}}

</div> <!-- /.content -->

{{>footer}}