{{> header }}

<div class="container content">
	<h2>Skills</h2>
	{{!-- <hr> --}}
		<div class="row">
			<div class="col-md-4">
			<h4>Front-End</h4>
			<hr>
			<ul>
				<li>React</li>
				<li>Handlebars</li>
				<li>jQuery</li>
				<li>JavaScript</li>
				<li>Bootstrap Framework</li>
				<li>CSS</li>
				<li>HTML</li>
			</ul>
			</div>

			<div class="col-md-4">
			<h4>Back-End</h4>
			<hr>
			<ul>
				<li>Node.js</li>
				<li>Express</li>
				<li>MongoDB</li>
				<li>Mongoose</li>
				<li>MySQL</li>
				<li>Sequelize</li>
				<li>Firebase</li>
			</ul>
			</div>

			<div class="col-md-4">
			<h4>Other Tools</h4>
			<hr>
			<ul>
				<li>Heroku deployment</li>
				<li>Agile methodology</li>
				<li>Version Control (Git)</li>
				<li>Postman</li>
			</ul>
			</div>
		</div>

	<div class="row" id="apps">
	<h2>Apps developed</h2>
	<hr>

	{{#each apps}}
		<div class= "app-gallery row">
			<div class= "col-md-4">
				<a href="{{this.liveURL}}" target="_blank"><img src="{{this.image3URL}}" class="img-responsive" alt="{{this.title}}"></a>


			</div>

				<div class="col-md-8 caption">
					<h3>{{this.title}}</h3>
					<p><a href="/code/{{this.title}}">Learn More</a> | <a href="{{this.liveURL}}" target="_blank">See Live</a> | <a href="{{this.githubRepo}}" target="_blank"> See Repository</a></p>
					<p>{{this.tagline}}</p>
				</div>
		</div>

	{{/each}}
	</div>


{{!--   <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div> --}}

{{!-- 	<div class= "app-gallery row">
		{{#each apps}}
				<div class= "col-md-3">
					<a href="{{this.liveURL}}" target="_blank"><img src="{{this.image3URL}}" class="img-responsive" alt="{{this.title}}"></a>
						<h3>{{this.title}}</h3>
						<div class="panel panel-info">
						  <div class="panel-heading">							
							<h3 class="panel-title"><a href="/code/{{this.title}}">Learn More</a>  |  <a href="{{this.liveURL}}" target="_blank">Live</a>  |  <a href="{{this.githubRepo}}" target="_blank">Repository</a></h3>
						  </div>
						  <div class="panel-body">
							<p>{{this.tagline}}</p>
						  </div>
						</div>
				</div>
		{{/each}}
	</div> --}}

</div><!-- /.content -->

{{>footer}}