{{> header }}

<div class="container content">
	

	<div class="row" id="apps">
		<h1>Web Development</h1>
		{{!-- <h2>Professional Work</h2>
		<div class= "app-gallery row">placeholder for IAL site</div> --}}

		Laura currently works at Avanade as a front end developer creating solutions for multinational companies and internal operations.

			<div class="row">
		<h2>Skills</h2>
		<div class="col-md-4">
			<h3 class="h4">Front End</h3>
			<hr>
			<ul>
				<li>Advanced JavaScript frameworks (Angular 6+, React)</li>
				<li>Templating tools (Handlebars, Liquid, Jekyll)</li>
				<li>Component Libraries (Bootstrap, Angular Material)</li>
				<li>jQuery</li>
				<li>JavaScript</li>
				<li>CSS</li>
				<li>HTML</li>
			</ul>
		</div>

		<div class="col-md-4">
			<h3 class="h4">Back End</h3>
			<hr>
			<ul>
				<li>Node.js</li>
				<li>Express</li>
				<li>MongoDB</li>
				<li>Mongoose</li>
				<li>MySQL</li>
				<li>Sequelize</li>
				<li>Firebase</li>
		</ul>
		</div>

		<div class="col-md-4">
			<h3 class="h4">Other Tools</h3>
			<hr>
			<ul>
				<li>Heroku deployment</li>
				<li>Agile methodology</li>
				<li>Version Control (Git)</li>
				<li>VSTS</li>
				<li>Postman</li>
			</ul>
		</div>
	</div>
	
		<h2>Student Work</h2>
		<hr>
			<div class= "app-gallery row">
		{{#each apps}}
				{{!-- {{#if testItem}} --}}
					<div class= "col-md-3 app-preview-box">
						<img src="{{image3URL}}" class="img-responsive" alt="{{title}}">
						<h3><a href="/code/{{title}}">{{title}}</a></h3>
						<p>{{tagline}}</p>
						{{!-- {{#if student}}shiiiit{{/if}}{{#if testItem}}shiiiit{{/if}} --}}
					</div>
			{{!-- {{/if}} --}}
		{{/each}}
	</div>


</div>


{{!-- <ul class="list-unstyled">
	<li class="media preview-list">

	</li>
</ul> --}}


{{!--   <div class="panel-heading">
    <h3 class="panel-title">Panel title</h3>
  </div>
  <div class="panel-body">
    Panel content
  </div>
</div> --}}

{{!-- 	<div class= "app-gallery row">
		{{#each apps}}
				<div class= "col-md-3">
					<a href="{{this.liveURL}}" target="_blank"><img src="{{this.image3URL}}" class="img-responsive" alt="{{this.title}}"></a>
						<h3>{{this.title}}</h3>
						<div class="panel panel-info">
						  <div class="panel-heading">							
							<h3 class="panel-title"><a href="/code/{{this.title}}">Learn More</a>  |  <a href="{{this.liveURL}}" target="_blank">Live</a>  |  <a href="{{this.githubRepo}}" target="_blank">Repository</a></h3>
						  </div>
						  <div class="panel-body">
							<p>{{this.tagline}}</p>
						  </div>
						</div>
				</div>
		{{/each}}
	</div> --}}

</div><!-- /.content -->

{{>footer}}