<div class="container content">

	<div class="row">
		<h1>{{doc.title}}</h1>
		<h3><a href="{{doc.liveURL}}">Live</a> | <a href="{{doc.githubRepo}}">GitHub</a></h3>
		<p>{{doc.summary}}</p>
	</div>
	{{!-- gallery of screenshots --}}
	<div class = "row app-gallery">
		<div class ="col-md-4">
			<img src="{{doc.image1URL}}" class="img-responsive" alt="{{doc.image1caption}}">
			<div class="caption">
				<p class="text-muted">{{doc.image1caption}}</p>
			</div>
		</div>

		<div class ="col-md-4">
			<img src="{{doc.image2URL}}" class="img-responsive" alt="{{doc.image2caption}}">
			<div class="caption">
				<p class="text-muted">{{doc.image2caption}}</p>
			</div>
		</div>

		<div class ="col-md-4">
			<img src="{{doc.image3URL}}" class="img-responsive" alt="{{doc.image3caption}}">
			<div class="caption">
				<p class="text-muted">{{doc.image3caption}}</p>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-6">
			<h3>Technologies Used</h3>
			<p>{{doc.technologiesUsed}}</p>

		</div>
	</div>

</div> <!-- /.content -->

{{>long-footer}}