<div class="container content">

	<div class="row">
		<h2>{{doc.title}}</h2>
		<h4><b><a href="{{doc.liveURL}}" target="_blank">Live</a> | <a href="{{doc.githubRepo}}" target="_blank">GitHub</a></b></h4>
		<p>{{doc.summary}}</p>

		<h4><b>Technologies Used</b></h4>
		<p>{{doc.technologiesUsed}}</p>


	</div>
	{{!-- gallery of screenshots --}}

	<div class = "row app-gallery">
		<div class ="col-md-4">
			<img src="{{doc.image1URL}}" class="img-responsive" alt="{{doc.image1caption}}">
			<div class="caption">
				<p class="text-muted">{{doc.image1caption}}</p>
			</div>
		</div>

		<div class ="col-md-4">
			<img src="{{doc.image2URL}}" class="img-responsive" alt="{{doc.image2caption}}">
			<div class="caption">
				<p class="text-muted">{{doc.image2caption}}</p>
			</div>
		</div>

		<div class ="col-md-4">
			<img src="{{doc.image3URL}}" class="img-responsive" alt="{{doc.image3caption}}">
			<div class="caption">
				<p class="text-muted">{{doc.image3caption}}</p>
			</div>
		</div>

	</div>

	<div class="row">
		<div class="col-md-6">
			

		</div>
	</div>

</div> <!-- /.content -->

{{>long-footer}}